body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow-x: hidden;
  margin: 0px 20px;
}

.iconOne {
  background-color: #000000;
  border-radius: 100px;
  border: 1px solid black;
}

.iconTwo {
  background-color: #4f4f4f;
  border-radius: 100px;
  border: 1px solid black;
}

.iconThree {
  background-color: #94877f;
  border-radius: 100px;
  border: 1px solid black;
}

.iconFour {
  background-color: #7d70ba;
  border-radius: 100px;
  border: 1px solid black;
}

.iconFive {
  background-color: #6aadd1;
  border-radius: 100px;
  border: 1px solid black;
}

.iconSix {
  background-color: thistle;
  border-radius: 100px;
  border: 1px solid black;
}

.iconSeven {
  background-color: yellowgreen;
  border-radius: 100px;
  border: 1px solid black;
}

.iconEight {
  background-color: #ffcd00;
  border-radius: 100px;
  border: 1px solid black;
}

#searchContainer {
  display: grid;
  gap: 9px;
  grid-template-columns: 50% calc(50% - 9px);
  width: 100%;
  margin-bottom: 18px;
}

#search {
  grid-column: 1 / 2;
  height: 25px;
  border: 2px solid #a5a5a5;
  outline: none;
  padding: 2px 6px 2px;
  border-radius: 1px;
  background-color: seashell;
}

#search:focus {
  outline: none;
  border-color: #878787;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

#artiSearchContainer {
  display: flex;
  align-items: start;
  grid-column: 2 / 3;
  flex-direction: column;
}

.searchBy {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  margin-left: 3px;
}

#subHeading {
  font-weight: 300;
  color: #1c1c1c;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 20px;
}

#back {
  position: absolute;
  top: 33px;
  left: 40px;
  border: none;
  padding: 3px 7px;
  letter-spacing: 1px;
  background-color: #512aac;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#back:hover,
#logInOrOut:hover {
  background-color: #693dcf;
}

#logInOrOut {
  position: absolute;
  top: 31px;
  right: 40px;
  border: none;
  padding: 3px 7px 4px;
  background-color: #512aac;
  letter-spacing: 2px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#findMebtn:hover {
  background-color: #f5ebe4;
}

#findMebtn,
#back,
#logInOrOut {
  border-radius: 3px;
  cursor: pointer;
}

#findMebtn {
  padding: 5px 5px;
  background-color: seashell;
  border: outset 2px rgb(175, 175, 175);
}

.listed {
  cursor: pointer;
  padding-left: 5px;
}

#btncontainer {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.listed:hover {
  background-color: whitesmoke;
}

#langcontainer {
  position: absolute;
  top: 34px;
  left: 130px;
}

.language {
  cursor: pointer;
  padding: 3px;
  border-radius: 4px;
  color: black;
}

.language:hover {
  background-color: rgb(236, 236, 236);
}

#list {
  overflow-y: auto;
  border: solid #c1c1c1 2px;
  background-color: white;
  min-height: 90px;
  margin-top: 4px;
}

#map {
  border: 2px solid #cfcfcf;
  background-color: white;
}

label {
  display: block;
}

#createdIn,
#default {
  letter-spacing: 1px;
}

#cti_radio,
#def_radio {
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}

input[type='radio'] {
  accent-color: #512aac;
}
.years {
  letter-spacing: 1px;
}

#mapContent {
  justify-content: center;
  box-sizing: border-box;
  padding-left: 5px;
}

/* .tab {
  grid-row: 1 / 3;
  clip-path: polygon(30% 0%, 70% 0%, 78% 6%, 85% 25%, 100% 100%, 0% 100%, 15% 25%, 23% 6%);
  position: relative;
  background-color: #c9c9c9;
  bottom: 0;
} */

/* .tabWhite {
  clip-path: polygon(30% 0%, 70% 0%, 78% 6%, 85% 25%, 100% 100%, 0% 100%, 15% 25%, 23% 6%);
  background-color: white;
  bottom: 0;
  width: 94%;
  height: 94%;
  left: 3%;
  position: absolute;
} */

/* #createdInTabButton,
#likedTabButton {
  background-color: white;
  clip-path: polygon(30% 0%, 70% 0%, 78% 6%, 85% 25%, 100% 100%, 0% 100%, 15% 25%, 23% 6%);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .tabHeart {
  color: #959595;
}

.tabHammer {
  color: olive;
} */

.heartIcon,
.popupTitle {
  display: inline-block;
  margin-bottom: 1px;
}

.heartIcon:hover {
  cursor: pointer;
}

.heartIcon {
  color: #b1b1b1;
  margin-left: 5px;
}
/* #diskIcon {
  color: green;
  display: inline-block;
  margin-bottom: 5px;
} */

/* b {
  display: block;
} */

/* 
#createdInTabButton {
  background-color: white;
} */

/* #likedTabButton {
  background-color: #e2e2e2;
} */

/* #selectionLine {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 12px 80px 15px 80px auto;
  z-index: 100;
} */

/* #heartLine {
  background-color: #c1c1c1;
} */

/* #likedContent {
  display: none;
  padding: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
} */

/* #liked {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
} */

#dialogLoginLink {
  text-decoration: none;
}

#dialogLoginLink:hover {
  color: rgb(106, 0, 255);
}

#check1,
#check2,
#check3,
#check4,
#check5,
#check6,
#check7,
#check1_fav,
#check2_def {
  accent-color: gray;
}

form {
  margin-left: 23px;
}

.legend {
  height: 11px;
  width: 11px;
  border-radius: 100px;
  border: 1px solid black;
}

.labl {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 9px;
}

.popupLink {
  color: #0b1a3f;
  cursor: pointer;
  text-decoration: underline;
}

#title {
  color: #101010;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 0px;
  border: solid #c7c7c7 2px;
  border-radius: 3px;
}

#opacitySlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 100px;
  cursor: pointer;
}

#opacityLabl {
  display: inline-block;
  margin-right: 5px;
  color: #424242;
}

input[type='checkbox'] {
  cursor: pointer;
}

#yearSearch,
#artistSearch {
  position: absolute;
  opacity: 0;
}

#yearSearch + label,
#artistSearch + label {
  display: inline-flex;
  width: 9px;
  height: 9px;
  background-color: seashell;
  border: 2px solid #767676;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  align-items: center;
}

#yearSearch:checked + label,
#artistSearch:checked + label {
  background-color: #767676;
}

#yearSearch:checked + label::after,
#artistSearch:checked + label::after {
  content: '✓';
  color: white;
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: -3px;
  left: 1px;
}

#lablTextYear,
#lablTextArtist {
  margin-left: 17px;
  white-space: nowrap;
}

.rightSideView {
  display: grid;
  grid-template-columns: 40px 155px auto;
  align-items: center;
  letter-spacing: 1px;
}

#here {
  text-decoration: underline;
  cursor: pointer;
}

.browsing,
.map,
.favourites,
.top {
  cursor: pointer;
  text-wrap: nowrap;
}

#favNoShow,
#favShow {
  margin-top: 15px;
}

.dot {
  color: #a8a8a8;
}

.dot.browsing {
  color: #693dcf;
}

#sideBar {
  min-height: 0;
}

#browsingContent {
  display: flex;
}

#browsingContent,
#mapContent,
#favouritesContent,
#topContent {
  flex-direction: column;
  height: 100%;
}

#organize {
  border-radius: 2px;
  margin-left: auto;
  height: 27px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid rgb(183, 183, 183);
}

#organize:focus {
  outline: none;
  border-color: rgb(154, 154, 154);
}

@media screen and (max-width: 900px) {
  #title {
    padding: 50px 15px 10px;
  }
  #main {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0;
    margin-top: 10px;
  }
  #mapcontainer {
    grid-row: 1 / 2;
  }
  #sculptList {
    grid-row: 2 / 3;
    text-align: left;
    margin-left: 15px;
  }
  #map {
    height: calc(100vh - 230px);
  }
  #btncontainer {
    margin-bottom: 30px;
  }
  #list {
    height: 250px;
  }
  #mapContent {
    height: 350px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 900px) {
  #title {
    padding: 13px;
  }
  #main {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 0;
    margin-top: 15px;
  }
  #mapcontainer {
    grid-column: 1 / 2;
  }
  #sculptList {
    grid-column: 2 / 3;
    height: calc(100vh - 187px);
    text-align: left;
    margin-left: 25px;
    margin-top: 15px;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 1fr;
  }
  #map {
    height: calc(100vh - 175px);
  }
}
