body {
  font-family: Verdana, 'Segoe UI', 'Trebuchet MS';
  margin: 0 0;
  background-color: #e4e4e4;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  color: #212529;
  font-size: 17px;
}

.side {
  background:
    radial-gradient(rgba(41, 50, 24, 0.08) 2px, transparent 3px),
    radial-gradient(rgba(41, 50, 24, 0.22) 1px, transparent 1px),
    radial-gradient(rgba(41, 50, 24, 0.25) 1px, transparent 1px),
    radial-gradient(rgba(41, 50, 24, 0.27) 1px, transparent 1px),
    radial-gradient(rgba(41, 50, 24, 0.22) 1px, transparent 1px) rgba(41, 50, 24, 0.7);

  background-size:
    5px 5px,
    15px 15px,
    30px 20px,
    45px 52px,
    15px 15px;
  background-position:
    0 0,
    4px 4px,
    11px 11px,
    15px 15px,
    10px 9px;
}

.chaptr {
  text-align: justify;
  white-space: pre-line;
}

button:hover {
  background-color: #693dcf;
}

button:hover #arrow {
  transform: translateX(6px);
}

#arrow {
  transition: opacity 0.2s ease;
  grid-column: 3;
  margin-left: 8px;
  justify-self: start;
}

#btntext {
  grid-column: 2;
}

button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 9px;
  border: none;
  letter-spacing: 1px;
  background-color: #512aac;
  color: white;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  justify-content: center;
  align-items: center;
  font-family: Verdana, 'Segoe UI', 'Trebuchet MS';
  font-optical-sizing: auto;
}

#btncontainer {
  margin: 30px auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
#btncontainer {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 19px;
  font-family: Verdana, 'Segoe UI', 'Trebuchet MS';
  /* letter-spacing: 1px; */
  font-optical-sizing: auto;
}

#langcontainer {
  text-align: center;
  font-size: large;
  margin-top: 30px;
}

#wikipedia,
#ham {
  text-decoration: none;
  padding-right: 7px;
  display: inline-block;
}

#wikipedia:hover,
#photolink:hover,
#ham:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.192);
}

.language {
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 1px;
}

.language:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}

#imagecontainer {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 65px;
}

#photolink {
  font-size: 14px;
  padding-left: 7px;
  padding-right: 7px;
}

h1 {
  margin: 0;
  font-family: 'Savate', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 29px;
  color: #512aacf9;
  font-optical-sizing: auto;
}

#blocks {
  display: grid;
  gap: 0;
  inset: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 760px) {
  #blocks {
    grid-template-columns: 0fr 1fr 0fr;
  }

  #helsinkiphoto {
    width: 300px;
    border-radius: 7px;
  }
}

@media screen and (min-width: 761px) and (max-width: 1900px) {
  #blocks {
    grid-template-columns: 18% auto 18%;
  }

  #helsinkiphoto {
    width: 400px;
    border-radius: 7px;
  }
}

@media screen and (min-width: 1901px) {
  #blocks {
    grid-template-columns: 22% auto 22%;
  }

  #helsinkiphoto {
    width: 400px;
    border-radius: 7px;
  }
}

@media screen and (max-width: 1000px) {
  #white {
    padding: 60px 40px 40px;
    background-color: white;
  }
}

@media screen and (min-width: 1001px) {
  #white {
    padding: 60px 90px 40px;
    background-color: white;
  }
}
