body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0;
  background-color: #e4e4e4;
  overflow-x: hidden;
  inset: 0;
  width: 100vw;
  height: 100vh;
  font-size: large;
}

div {
  color: #212529;
}

#heart {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

:root {
  --heart-size: 20px;
}

.innerPart {
  font-size: var(--heart-size);
  color: white;
  z-index: 100;
  margin-top: -1px;
}

.outlines {
  font-size: calc(var(--heart-size) + 3px);
  color: #d31688;
}

#header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 19px;
  margin-bottom: 19px;
}

#savingInfo {
  font-size: small;
  margin-right: 5px;
}

#colorBlocks {
  display: grid;
  gap: 0;
  inset: 0;
  width: 100%;
  height: 100%;
}

#white {
  grid-column: 1/2;
  background-color: white;
  padding-bottom: 100px;
}

#gray {
  grid-column: 2/3;
  background-color: #c7c6ba;
}

#textContainer {
  width: 70%;
  margin-top: 70px;
}

#btn {
  padding: 5px 10px 6px;
  background-color: seashell;
  border: outset 2px rgb(175, 175, 175);
  border-radius: 3px;
  cursor: pointer;
  margin-top: 40px;
  font-size: large;
}

#btn:hover #arrow {
  color: #767351;
}

#arrow {
  color: #a3a07b;
  transform: rotate(180deg);
  display: inline-block;
}

#div2 {
  line-height: 1.4;
}

#h2 {
  color: #212529;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  flex: 1;
}

#sculptImg {
  margin-top: 40px;
}

@media screen and (min-width: 581px) {
  #textContainer {
    margin-left: 80px;
  }
}
@media screen and (max-width: 580px) {
  #textContainer {
    margin-left: 50px;
  }
}

@media screen and (min-width: 710px) {
  #colorBlocks {
    grid-template-columns: auto 20%;
  }

  #sculptImg {
    width: 400px;
  }
}
@media screen and (max-width: 710px) {
  #colorBlocks {
    grid-template-columns: auto 0%;
  }

  #sculptImg {
    width: 300px;
  }
}
