body {
  font-family: Verdana, 'Segoe UI', 'Trebuchet MS';
  /* font-family: 'Savate', sans-serif; */
  color: #212529f5;
  display: grid;
  grid-template-columns: min-content auto;
  margin: 0;
  margin-left: 30px;
}

.btn {
  border: 2px #e1e1e1 outset;
  margin-top: 30px;
  white-space: nowrap;
  border-radius: 5px;
  background-color: seashell;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 19px;
}

#goBack {
  transform: rotate(180deg);
  text-align: center;
  font-size: 21px;
}

#logout,
#deleteAccount,
#goBack {
  padding: 10px 20px 10px 20px;
  text-align: center;
}
