body {
  font-family: Verdana, 'Segoe UI', 'Trebuchet MS';
  /* font-family: 'Savate', sans-serif; */
  font-optical-sizing: auto;
  color: #2c0d76;
  display: grid;
  grid-template-columns: auto min-content auto;
  margin: 0;
  margin-left: 30px;
  height: 100vh;
}

.btn {
  border: 3px solid #512aac20;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 19px;
}

.btn:hover {
  background-color: #512aac08;
}

#goBack {
  transform: rotate(180deg);
  text-align: center;
  font-size: 21px;
}

#logout,
#deleteAccount,
#goBack {
  padding: 10px 20px 10px 20px;
  text-align: center;
}

#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
