body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow-x: hidden;
  margin: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: large;
  color: #212529;
}

body {
  background:
    radial-gradient(rgba(41, 50, 24, 0.08) 2px, transparent 3px),
    radial-gradient(rgba(41, 50, 24, 0.22) 1px, transparent 1px),
    radial-gradient(rgba(41, 50, 24, 0.25) 1px, transparent 1px),
    radial-gradient(rgba(41, 50, 24, 0.27) 1px, transparent 1px),
    radial-gradient(rgba(41, 50, 24, 0.22) 1px, transparent 1px) rgba(41, 50, 24, 0.7);

  background-size:
    5px 5px,
    15px 15px,
    30px 20px,
    45px 52px,
    15px 15px;
  background-position:
    0 0,
    4px 4px,
    11px 11px,
    15px 15px,
    10px 9px;
}

.firebaseui-title {
  font-size: x-large;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
}

.firebaseui-textfield {
  display: grid;
  grid-template-columns: auto 100px 230px auto;
}

.firebaseui-label {
  justify-self: start;
  grid-column: 2 / 3;
  align-self: center;
}

.firebaseui-input,
.firebaseui-input-invalid {
  justify-self: end;
  grid-column: 3 / 4;
  width: 100%;
  box-sizing: border-box;
  font-size: medium;
  height: 32px;
  border: 2px solid #c3c3c3;
  outline: none;
  padding: 4px 6px 4px;
  border-radius: 4px;
  align-self: center;
  color: #212529;
}

input[type='email']:valid {
  background-color: rgb(238, 248, 255) !important;
}

input[type='email']:invalid {
  background-color: white !important;
}

input[type='password']:valid {
  background-color: rgb(238, 248, 255) !important;
}

.firebaseui-input:focus {
  outline: none;
  border-color: #838383;
}

.firebaseui-button {
  border: none;
  padding: 7px 30px;
  background-color: #512aac;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  font-size: large;
}

.firebaseui-button:hover {
  background-color: #693dcf;
}

.firebaseui-form-links {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

#box {
  border: solid #cfcfcf 2px;
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}

.firebaseui-info-bar-message {
  margin-bottom: 0;
}

a {
  color: #212529;
  font-size: medium;
}

.firebaseui-error {
  color: rgb(221, 69, 4);
  font-size: medium;
}
